---
import { Counter } from '@components/Counter'
import { FavoriteList } from '@components/pokemons/FavoriteList'
import Title from '@components/shared/Title.astro'
import LayoutMain from '@layouts/LayoutMain.astro'
---

<LayoutMain title="Favorites">
  <Title>Listado de favoritos</Title>
  <FavoriteList client:only="solid-js" />
</LayoutMain>
